 <ion-view title="Check Current Outages">	
    <ion-content>
      <ion-list >

        <ion-item class="ion-item-right" href="#/list" >
          <h2>Full list of equipment outages</h2>

        </ion-item>

        <ion-item>
          <h2>Search by Borough</h2>
        </ion-item>

        <ion-item>
          <h2>Search by Train Line</h2>
        </ion-item>

        <ion-item>
          <h2>Search by Station</h2>
        </ion-item>

      </ion-list>
   

  <!--       SEARCH BAR -->
  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
    </label>
  </div>
 </ion-content>
</ion-view> 
      	

<!-- 
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/outages">
    <ion-nav-view name="tab-outages"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Send Feedback" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/feedback">
    <ion-nav-view name="tab-feedback"></ion-nav-view>
  </ion-tab>

</ion-tabs> -->
