<ion-view title="Subway Accessibility Outages">	
  <ion-content>

    <ion-list >
      <ion-item href="#/borough" >
        <h2>Search by Borough</h2></ion-item>
      <ion-item href="#/trainline/all" >
        <h2>Search by Train Line</h2></ion-item>
      <ion-item class="ion-item-right" href="#/list" >
        <h2>Full list of equipment outages</h2></ion-item>
    </ion-list>
    
        <!-- SEARCH BAR -->
      <div class="list list-inset">
        <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search by Station">
        <button href="#/station">Go</button>
     </label>
     </form>

    </div>    
   </ion-content>
</ion-view> 
      	
